

.backgroundLogo {
  position: fixed; 
  width: 150%; 
  height: auto;
  max-width: 1200px;
  min-width: 300px;
  opacity: 0.05;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.visuallyHiddenSEO {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}




@media (max-width: 768px) {
  .backgroundLogo {
    width: 180%; 
    min-width: 100%;
    max-width: none;
  }
  
  .container {
    min-height: 100vh; 
  }
}

@media (orientation: portrait) {
  .backgroundLogo {
    width: 120%;
    height: auto;
  }
}
