
.hero {
  position: relative;
  width: 100%;
  
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
}



.textContainer {
  position: relative;
  z-index: 2;
  color: white;
  width: 100%;
  max-width: 1200px;
  height: 50%;
  padding: 1rem;
  box-sizing: border-box;
}

.title {
  font-size: 4.9rem;
  font-weight: bold;
  background-color: transparent;
  font-family: var(--font-secondary);
  color: var(--color-primary-dark);
  margin-bottom: 1rem;
  line-height: 1.2;
  
  word-wrap: break-word;
}

.subtitle {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  color: var(--foreground);
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Media queries */
@media (max-width: 768px) {
  .hero {
    height: 50%;
    padding: .5rem 0.5rem;
    margin-top: 1rem;
  }
  
  .textContainer {
    width: 95%;
    padding: 0.5rem;
  }
  
  .title {
    margin-bottom: 3rem;
    line-height: 1;
    font-size: 3.8rem;
    
  }
  
  .subtitle {
    line-height: 1.5;
    padding: 0 0.5rem;
  }
}
@media (max-width: 768px) {
  
  .title {
    font-size: 2.9rem;
    background-color: transparent;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: .8rem;
  }
}


@media (max-width: 480px) {
  .hero {
    margin: 0;
  }
  .title {
    font-size: 2rem;
    background-color: transparent;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: .8rem;
  }
}

/* @media (orientation: portrait) {
  .backgroundLogo {
    width: 95%;
  }
} */

/* Tablet landscape */
/* @media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .hero {
    min-height: 80vh;
  }
  
  .title {
    font-size: 3.5rem;
  }
} */

/* Pantallas grandes */
/* @media (min-width: 1600px) {
  .title {
    font-size: 5rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
  }
} */