

/* Fondo global */
/* .background {
  position: fixed;
  width: 150%;
  max-width: 1200px;
  opacity: 0.05;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
} */
 