/* Variables globales */
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Wallpoet&display=swap");

:root {
  --font-main: "Bungee", sans-serif;
  --font-secondary: "Wallpoet", sans-serif;

  /* Paleta de colores */
  --color-primary: #e91e63;
  --color-primary-dark: #d81b3a;
  --accent-color: #ff0055;
  --accent-alt: #00ffcc;
  --color-text: #333;
  --color-border: #ccc;
  --color-white: #fff;

  --background: #0d0d0d;
  --foreground: #f4f4f4;

  /* Espaciado */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 6rem;

  /* Bordes y radios */
  --radius: 8px;

  /* Tipografía */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 30px;
}

/* Reset básico y tipografía global */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  position: relative; 
  background-color: #0c0c0c;
  font-family: var(--font-main);
  height: 100vh;
}
button {
  font-family: var(--font-main);
  padding: var(--space-sm) var(--space-md);
  background: var(--accent-color);
  border: none;
  border-radius: var(--radius);
  color: var(--color-white);
  font-size: .9rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: var(--color-primary-dark);
}

.toast-center {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
}
